<section data-ng-controller="NavController as navCtrl" class="container">
  <form data-ng-submit="navCtrl.signIn(user)" class="form-horizontal">
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-10">
          <input data-ng-model="user.name" type="text" class="form-control" id="inputUsername" placeholder="Username...">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input data-ng-model="user.password" type="password" class="form-control" id="inputPassword" placeholder="Password...">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </fieldset>
