<section class="container">
  <form class="form-horizontal">
    <fieldset>
      <legend>New Remittance Form</legend>
      <div class="form-group">
        <label for="inputAgent" class="col-lg-2 control-label">Agent</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputAgent" placeholder="Agent">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPhoneNumber" class="col-lg-2 control-label">Phone</label>
        <div class="col-lg-10">
          <input type="" class="form-control" id="inputPhoneNumber" placeholder="Phone">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAmount" class="col-lg-2 control-label">Amount</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputAmount" placeholder="Amount">
        </div>
      </div>
      <div class="form-group">
        <label for="selectLocation" class="col-lg-2 control-label">Location</label>
        <div class="col-lg-10">
        <select class="form-control" id="selectLocation">
          <option>Tegede</option>
          <option>Adi Hirdi</option>
          <option>Adi Remits</option>
        </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</section>
